h1 {
    color: green;
    text-align: center;
    font-size: 50px;
    margin: 50px;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 45px
}

.button {
    text-decoration: none;
    color: white;
    border: solid darkgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: darkgreen;
    text-align: right;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

.animation {
    text-decoration: none;
    color: white;
    border: solid darkgreen;
    border-radius: 10px;
    padding: 10px;
    background-color: darkgreen;
    text-align: right;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

.animation:hover {
    box-shadow: none;
}

.button:hover {
    box-shadow: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav {
    padding-top: 14px;
}


.gamecontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
}


.gamebox {
    width: 250px;
    height: 200px;
    border: solid;
    margin: 15px;
    border-radius: 15px;
}

iframe {
    width: 900px;
}

.gamewrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.backdino {
    background-image: url('./pictures/background\ for\ dino.png');
    background-size: cover;
}

.dino {
    background-image: url('./pictures/dino.png');
    background-size: cover;
}

.star {
    background-image: url('./pictures/starcollector.png');
    background-size: cover;
}

.jump {
    background-image: url('./pictures/monkeyjump.png');
    background-size: cover;
}

.click {
    background-image: url('./pictures/clicks.png');
    background-size: cover;
}

.whack {
    background-image: url('./pictures/whackamole.png');
    background-size: cover;
}

.click2 {
    background-image: url('./pictures/howmanyclicks2.png');
    background-size: cover;
}

.mouse {
    background-image: url('./pictures/mousemaze.png');
    background-size: cover;
}

.soon { background-image: url('./pictures/coming\ soon.png');
    background-size: cover;
}

.gamename {
    color:black;
    font-size: 20px;
    text-align:center;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.device-info {
    color: blue;
    font-size: 15px;
}