h1 {
    color: green;
    text-align: center;
    font-size: 50px;
    margin: 50px;

}

h2 {
    text-align: center;
}

h3 {

}

img {
    width: 45px
}

.button {
    text-decoration: none;
    color: white;
    border: solid darkgreen;
    border-radius: 100px;
    padding: 10px;
    background-color: darkgreen;
    text-align: right;
    box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.45);
}

.button:hover {
    box-shadow: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav {
    padding-top: 14px;
}


.gamecontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
}


.gamebox {
    width: 250px;
    height: 200px;
    border: solid;
    margin: 15px;
    border-radius: 15px;
}

iframe {
    width: 100%
}

.dino {
    background-image: url('./pictures/dino.png');
    background-size: cover;
}

.star {
    background-image: url('./pictures/starcollector.png');
    background-size: cover;
}